body {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/login.jpg");
    background-size: cover;
    font-family: "Century Gothic";
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.registerform {
    display: flex;
    flex-direction: row;
    width: 30%;
}
.registerform h1{
    font-size: 2.5em;
    margin: 30px 0 30px 0;
    color: #3B3030;
}
.registerform form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0px 0px 5px gray;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 40px 80px;
    width: 100%;
}
.registerform form h1 {
    text-align: center;
}
.registerform form input {
    background: transparent;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #795757;
    box-sizing: border-box;
    font-family: "Century Gothic";
    font-size: 1.1em;
    color: #3B3030;
}
::placeholder {
    color: #3B3030;
}
.registerform form input[type="submit"] {
    background-color: #3B3030;
    color: white;
    padding: 15px 20px;
    border: none;
    width: 70%;
    border-radius: 25px;
    transition: .7s;
    &:hover {
        background-color: #3B3030;
        cursor: pointer;
    }
}
.registerform form p.result{
    color: green;
    margin-top: -10px;
}
.registerform a{
    text-decoration: none;
    color: #3B3030;
    &:hover {
        text-decoration: underline;
        color: #3B3030;
        cursor: pointer;
    }
}